// Sidebar
$sidebar-width: 250px;
$sidebar-icons: 30px;

// Navbar
$navbar-height: 60px;
$nav-search-width: 350px;

// Box Shadow
$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
$box-shadow-mini: 0 4px 8px rgba(0, 0, 0, 0.1);
